:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  -webkit-text-size-adjust: 100% !important;
}
#app {
  height: 100svh;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height: -webkit-fill-available;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 禁用文本选择 */
body {
  -webkit-user-select: none; /* Safari 和 Chrome */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
  user-select: none;         /* 所有浏览器 */
}

/* 禁用长按弹出菜单 */
body {
  -webkit-touch-callout: none; /* 禁用iOS长按弹出菜单 */
  -webkit-touch-callout: none; /* 系统默认菜单被禁用 */
  -webkit-user-select: none;   /* webkit浏览器 */
  -khtml-user-select: none;    /* 早期浏览器 */
  -moz-user-select: none;      /* 火狐 */
  -ms-user-select: none;       /* IE10 */
  user-select: none;
}

/* src/assets/styles.css */
* {
  -webkit-touch-callout: none; /* 系统默认菜单被禁用 */
  -webkit-user-select: none;   /* webkit浏览器 */
  -khtml-user-select: none;    /* 早期浏览器 */
  -moz-user-select: none;      /* 火狐 */
  -ms-user-select: none;       /* IE10 */
  user-select: none;
}

input {
  -webkit-user-select: auto;   /* webkit浏览器 */
}

textarea {
  -webkit-user-select: auto;   /* webkit浏览器 */
}
